body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background-image: url("./assets/background_2.png");
  background-size: cover;
  background-position: center center;
  height: 100vh; /* 100% of the viewport height */
  width: 100vw; /* 100% of the viewport width */
  overflow: hidden;
}

.title {
  font-size: 65px;
  font-weight: bold;
  color: white;
}
